<div class="modal-container">
  <div class="modal-content">
      <form [formGroup]="form" (ngSubmit)="submit(form)">
          <div class="modal-header">
          <h5 class="modal-title" mat-dialog-title>{{data.title}}</h5>
          <button type="button" class="close" mat-dialog-close>
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <mat-dialog-content>
            <div class="modal-body">

                <div class="form-outline formatar-mat-form">
                    <label class="form-label" for="form2Example1">Titulo</label>

                    <input matInput formControlName="titulo" [(ngModel)]="departamento.titulo" type="text" id="form2Example1" class="form-control" />
                    <div *ngIf="form.get['titulo']?.dirty || form.get['titulo']?.touched">
                        <mat-error class="erro" *ngIf="form.get('titulo').hasError('required')">O campo titulo é obrigatório.</mat-error>
                    </div>
                </div>

            </div>
          </mat-dialog-content>
          <div class="modal-footer">
            <mat-dialog-actions class="justify-content-end">
                <button type="button" class="btn btn-secondary mr-1" mat-dialog-close>Cancelar</button>
                <button class="btn btn-primary" [disabled]="disableBox" type="submit">Salvar</button>
            </mat-dialog-actions>
          </div>
      </form>
  </div>
</div>
